
<section id="footer">
            <footer>
                  <div class="about-us">
                        <h4>About Us</h4>
                        <br><br>
                        <p style="width: 90%;">
                          Lunched in 2023 Hamro Mart is Nepal's premier online shopping market place.
                         <br>
                         <br>
                          Hmaro Mart Is focused on providing an excellent customer experience 
                          ease-of-purchase,
                         comprehensive
                          customers care and hasel-free shopping and returns experience.
                        </p>
                        <br>
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3533.0303695079097!2d85.34220827453491!3d27.685456226458324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb198d99470043%3A0x167d008efb47d64c!2sBroadway%20Infosys!5e0!3m2!1sen!2snp!4v1739205220728!5m2!1sen!2snp" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                  <div class="contact-us">
                      <h4>Contact Us</h4>
                      <br><br>
                      <p><img  src="./assets/icons/phone-call.png" alt="">+977-9862460349</p>
                      <br>
                      <p><img  src="./assets/icons/email.png" alt="">hamromart22@gmail.com</p>
                      <br>
                      <p><img  src="./assets/icons/fb.png" alt="">Hamromart</p>
                  </div>

                  <div class="quick-links">
                        <h4>Quick Links</h4>
                        <br><br>
                        <p><a href="/admin">Home</a></p>
                        <p><a href="/adminorder">Order</a></p>
                        <p><a href="/addproduct">Add Products</a></p>
                        <p><a href="/adminproduct">Products</a></p>
                        <p><a href="/showadmin">Admin</a></p>
                        <p><a href="/normaluser">Normal User</a></p>
                  </div>
            </footer>
      </section>
      <script src="./js/app.js"></script>
      <script src="./js/close.js"></script>
</body>

</html>